

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
					
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                   
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
					
						
						<section id="brand" class="container content-section text-center">
						
							<div class="row">
							 <div class="col-md-8 col-md-offset-2">
								<h2>Fitbit</h2>
                        <p class="intro-text">Find your fit with Fitbit's family of fitness products that help you stay
						<br>motivated and improve your health by tracking your activity, exercise, food, weight and sleep.</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Who We Are</h2>
                <p>Fitbit is a passionate company dedicated to health and fitness who are building products to help transform peoples lives.</p>
                <p>While health can be serious business, fitbit feels it doesn't have to be.</p>
                <p>Fitbit believe you're more likely to reach your goals if your encouraged to have fun, smile, and feel empowered along the way.</p>
            </div>
        </div>
    </section>

    <!-- GitHub Section -->
    <section id="download" class="content-section text-center">
        <div class="github-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>See my GitHub</h2>
                    <p>My name is Keelin O'Farrell and my GitHub link name is keelinofarrell</p>
                    <a href="https://github.com/" class="btn btn-default btn-lg">Visit Visit Page</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact Fitbit</h2>
                <p>Feel free to email us to provide some feedback on our fitbits, give us suggestions for new ideas, or to just say hello!</p>
                <p><a href="mailto:feedback@fitbits.com">feedback@fitbit.com</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://twitter.com/FitbitSupport/with_replies" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/fitbit/" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/+fitbit" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Map Section -->
	
	
	
	
	
    <div id="map">
	
	<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{53.3382}%2C#{6.2591}"%>
	
	</div>